.tile-container {
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  .tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .tile-text {
      animation: blink 0.75s step-end infinite;
      border-right: 2px solid #fff;
      padding-right: 2px;
      text-shadow: 0px 1px 1px rgb(97, 97, 97);
      word-wrap: normal;
    }

    &.from-top {
      animation: fromTop 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-bottom {
      animation: fromBottom 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-left {
      animation: fromLeft 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-right {
      animation: fromRight 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes fromTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes fromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes fromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes fromRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
