.tile-container {
  position: relative;
  color: #fff;
  font-family: 'Lato', sans-serif;
  overflow: hidden;

  .tile {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .tile-text {
      animation: blink 0.75s step-end infinite;
      margin-left: 25px;
      text-shadow: 0 0.025em 0 rgba(0, 0, 0, 0.25);
      word-wrap: break-word;
      white-space: nowrap;

      .cursor {
        margin-left: 2px;
        border-left: 1px solid #fff;
        animation: blink 0.75s step-end infinite;
      }
    }

    &.from-top {
      animation: fromTop 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-bottom {
      animation: fromBottom 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-left {
      animation: fromLeft 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }

    &.from-right {
      animation: fromRight 600ms cubic-bezier(0.06, 0.74, 0.24, 1);
    }
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes fromTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes fromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes fromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes fromRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
